<img src="https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/media/logo/newebac_logo_black_half.png" alt="ebac-logo">

---

# **Módulo 41** | Big Data II - Armazenamento
Caderno de **Exercícios**<br>
Professor [André Perez](https://www.linkedin.com/in/andremarcosperez/)

---

# **Tópicos**

<ol type="1">
  <li>Introdução;</li>
  <li>Orientação a coluna;</li>
  <li>Particionamento.</li>
</ol>

---

# **Exercícios**

## 1\. Particionamento e orientação a coluna.

Replique as atividades da aula 3 em sua conta da AWS.

---
## ⚠️ CONFIGURAÇÃO INICIAL — Faça isso primeiro!

**Cole suas credenciais AWS na célula abaixo antes de executar qualquer outra coisa.**

- `AWS_ACCESS_KEY_ID` → começa com `AKIA...` (20 caracteres)
- `AWS_SECRET_ACCESS_KEY` → string longa (40 caracteres)
- `BUCKET_CSV` e `BUCKET_PARQUET` → escolha nomes únicos (use seu nome, ex: `joao-mod41-csv`)

---

### 1.1. Faça o download do arquivo `crime.csv`.

In [15]:
AWS_ACCESS_KEY_ID     = 'AKIAYRIEFXUI4FUUPNOB'                        # ← adicione aspas
AWS_SECRET_ACCESS_KEY = 'KKTMpQ9uAECjFyPLVBPJJTqcZM0jsy7N+uUYSeK0'  # ← já tem aspas ✅
AWS_REGION            = 'us-east-1'

BUCKET_CSV      = 'catherine-mod41-csv'      # ← troque seunome pelo seu nome
BUCKET_PARQUET  = 'catherine-mod41-parquet'  # ← troque seunome pelo seu nome

In [16]:
!wget https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/dataset/crime.csv -q -O crime.csv
print('✅ Download concluído!')

✅ Download concluído!

In [17]:
!wget https://raw.githubusercontent.com/andre-marcos-perez/ebac-course-utils/main/dataset/crime.csv -q -O crime.csv
print('✅ Download concluído!')

✅ Download concluído!

### 1.2. Leia os dados em um DataFrame Pandas e crie a coluna `reference_date`.

In [18]:
import pandas as pd
import os

df = pd.read_csv('crime.csv')

print(f'Shape: {df.shape}')
print(f'Colunas: {df.columns.tolist()}')
df.head()

Shape: (274423, 18)
Colunas: ['index', 'ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type', 'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat', 'District', 'Ward', 'Community Area', 'FBI Code', 'Latitude', 'Longitude']

,index,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Community Area,FBI Code,Latitude,Longitude
0,0,9446824,HX100141,01/01/2014 02:00:00 AM,0000X W ILLINOIS ST,0460,BATTERY,SIMPLE,STREET,False,False,1831,18,42.0,8.0,08B,41.890828,-87.630235
1,1,9446748,HX100020,01/01/2014 12:00:00 AM,006XX N DEARBORN ST,0890,THEFT,FROM BUILDING,BAR OR TAVERN,False,False,1832,18,42.0,8.0,06,41.893542,-87.629702
2,2,9446758,HX100030,01/01/2014 12:30:00 AM,052XX W RACE AVE,1310,CRIMINAL DAMAGE,TO PROPERTY,APARTMENT,False,False,1523,15,28.0,25.0,14,41.890046,-87.756333
3,3,9446760,HX100027,01/01/2014 12:30:00 AM,053XX W WELLINGTON AVE,0460,BATTERY,SIMPLE,APARTMENT,True,False,2514,25,31.0,19.0,08B,41.935011,-87.759739
4,4,9446764,HX100054,01/01/2014 12:10:00 AM,014XX W LEXINGTON ST,0460,BATTERY,SIMPLE,STREET,False,False,1231,12,25.0,28.0,08B,41.872509,-87.663069

In [19]:
# Criação da coluna reference_date (particionamento por ano-mês)
df['Date'] = pd.to_datetime(df['Date'])
df['reference_date'] = df['Date'].dt.strftime('%Y-%m')

print('✅ Coluna reference_date criada!')
print(f'Partições que serão geradas: {sorted(df["reference_date"].unique())}')
df[['Date', 'reference_date']].head(10)

✅ Coluna reference_date criada!
Partições que serão geradas: ['2014-01', '2014-02', '2014-03', '2014-04', '2014-05', '2014-06', '2014-07', '2014-08', '2014-09', '2014-10', '2014-11', '2014-12']

                 Date reference_date
0 2014-01-01 02:00:00        2014-01
1 2014-01-01 00:00:00        2014-01
2 2014-01-01 00:30:00        2014-01
3 2014-01-01 00:30:00        2014-01
4 2014-01-01 00:10:00        2014-01
5 2014-01-01 00:03:00        2014-01
6 2014-01-01 00:10:00        2014-01
7 2014-01-01 01:00:00        2014-01
8 2014-01-01 00:30:00        2014-01
9 2014-01-01 01:19:00        2014-01

### 1.3. Persista em CSV e em Parquet comprimido e particionado por `reference_date`.

In [20]:
df.to_csv('crime.csv', index=False)
print(f'✅ CSV salvo! Tamanho: {os.path.getsize("crime.csv") / 1024 / 1024:.2f} MB')

✅ CSV salvo! Tamanho: 45.77 MB

In [21]:
df.to_parquet(
    './crime_parquet',
    compression='snappy',
    partition_cols=['reference_date'],
    index=False
)

partitions = sorted(os.listdir('./crime_parquet'))
print(f'✅ Parquet salvo! {len(partitions)} partições criadas:')
for p in partitions:
    print(f'   {p}')

✅ Parquet salvo! 12 partições criadas:
   reference_date=2014-01
   reference_date=2014-02
   reference_date=2014-03
   reference_date=2014-04
   reference_date=2014-05
   reference_date=2014-06
   reference_date=2014-07
   reference_date=2014-08
   reference_date=2014-09
   reference_date=2014-10
   reference_date=2014-11
   reference_date=2014-12

### 1.4. Crie os recursos no AWS S3 e AWS IAM e persista os dados nos *buckets*.

In [22]:
!pip install boto3 -q

In [23]:
!pip install boto3 -q
import boto3
import json
print('✅ boto3 instalado e importado!')

✅ boto3 instalado e importado!

In [24]:
import boto3
import json

session = boto3.Session(
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
    region_name=AWS_REGION
)
s3  = session.client('s3')
iam = session.client('iam')

# Teste de conexão
sts = session.client('sts')
identity = sts.get_caller_identity()
print(f'✅ Conectado à AWS!')
print(f'   Account ID: {identity["Account"]}')
print(f'   Usuário: {identity["Arn"]}')

✅ Conectado à AWS!
   Account ID: 586808671505
   Usuário: arn:aws:iam::586808671505:user/catherinep

In [25]:
# Criação dos buckets S3
def criar_bucket(s3_client, bucket_name, region):
    try:
        if region == 'us-east-1':
            s3_client.create_bucket(Bucket=bucket_name)
        else:
            s3_client.create_bucket(
                Bucket=bucket_name,
                CreateBucketConfiguration={'LocationConstraint': region}
            )
        print(f'✅ Bucket criado: s3://{bucket_name}')
    except s3_client.exceptions.BucketAlreadyOwnedByYou:
        print(f'ℹ️  Bucket já existe: s3://{bucket_name}')
    except Exception as e:
        print(f'❌ Erro ao criar {bucket_name}: {e}')

criar_bucket(s3, BUCKET_CSV,     AWS_REGION)
criar_bucket(s3, BUCKET_PARQUET, AWS_REGION)

✅ Bucket criado: s3://catherine-mod41-csv
✅ Bucket criado: s3://catherine-mod41-parquet

In [27]:
import boto3
import json
import pandas as pd
import os

# Credenciais
AWS_ACCESS_KEY_ID     = 'AKIAYRIEFXUI4FUUPNOB'
AWS_SECRET_ACCESS_KEY = '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'
AWS_REGION            = 'us-east-1'

BUCKET_CSV      = 'catherine-mod41-csv'
BUCKET_PARQUET  = 'catherine-mod41-parquet'
IAM_USER_NAME   = 'mod41-analista'
IAM_POLICY_NAME = 'mod41-s3-athena-policy'

session = boto3.Session(
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
    region_name=AWS_REGION
)
s3  = session.client('s3')
iam = session.client('iam')

print('✅ Tudo configurado!')

✅ Tudo configurado!

In [30]:
# Criação de usuário e policy no IAM
policy_document = {
    'Version': '2012-10-17',
    'Statement': [
        {
            'Effect': 'Allow',
            'Action': ['s3:GetObject', 's3:PutObject', 's3:ListBucket', 's3:DeleteObject'],
            'Resource': [
                f'arn:aws:s3:::{BUCKET_CSV}',
                f'arn:aws:s3:::{BUCKET_CSV}/*',
                f'arn:aws:s3:::{BUCKET_PARQUET}',
                f'arn:aws:s3:::{BUCKET_PARQUET}/*'
            ]
        },
        {
            'Effect': 'Allow',
            'Action': [
                'athena:StartQueryExecution', 'athena:GetQueryExecution',
                'athena:GetQueryResults',
                'glue:GetDatabase', 'glue:GetTable', 'glue:GetPartitions'
            ],
            'Resource': '*'
        }
    ]
}

try:
    iam.create_user(UserName=IAM_USER_NAME)
    print(f'✅ Usuário IAM criado: {IAM_USER_NAME}')
except iam.exceptions.EntityAlreadyExistsException:
    print(f'ℹ️  Usuário já existe: {IAM_USER_NAME}')

try:
    resp = iam.create_policy(
        PolicyName=IAM_POLICY_NAME,
        PolicyDocument=json.dumps(policy_document),
        Description='Acesso S3 e Athena - Módulo 41'
    )
    policy_arn = resp['Policy']['Arn']
    print(f'✅ Policy criada: {policy_arn}')
except iam.exceptions.EntityAlreadyExistsException:
    account_id = identity['Account']
    policy_arn = f'arn:aws:iam::{account_id}:policy/{IAM_POLICY_NAME}'
    print(f'ℹ️  Policy já existe: {policy_arn}')

iam.attach_user_policy(UserName=IAM_USER_NAME, PolicyArn=policy_arn)
print(f'✅ Policy anexada ao usuário {IAM_USER_NAME}')

✅ Usuário IAM criado: mod41-analista
✅ Policy criada: arn:aws:iam::586808671505:policy/mod41-s3-athena-policy
✅ Policy anexada ao usuário mod41-analista

In [31]:
# Upload do CSV
s3.upload_file('crime.csv', BUCKET_CSV, 'crime/crime.csv')
print(f'✅ CSV enviado para s3://{BUCKET_CSV}/crime/crime.csv')

✅ CSV enviado para s3://catherine-mod41-csv/crime/crime.csv

In [32]:
# Upload dos Parquets particionados
def upload_parquet_dir(s3_client, local_dir, bucket, s3_prefix):
    uploaded = 0
    for root, dirs, files in os.walk(local_dir):
        for file in files:
            local_path = os.path.join(root, file)
            relative   = os.path.relpath(local_path, local_dir)
            s3_key     = f'{s3_prefix}/{relative}'.replace('\\', '/')
            s3_client.upload_file(local_path, bucket, s3_key)
            uploaded += 1
    print(f'✅ {uploaded} arquivo(s) Parquet enviados para s3://{bucket}/{s3_prefix}/')

upload_parquet_dir(s3, './crime_parquet', BUCKET_PARQUET, 'crime')

✅ 24 arquivo(s) Parquet enviados para s3://catherine-mod41-parquet/crime/

### 1.5. Crie os recursos no AWS Athena e execute as consultas SQL da aula.

In [33]:
import time

athena = session.client('athena', region_name=AWS_REGION)

ATHENA_DB     = 'mod41_db'
ATHENA_TABLE  = 'crime'
ATHENA_OUTPUT = f's3://{BUCKET_PARQUET}/athena-results/'

def run_athena_query(query, database=None):
    kwargs = dict(
        QueryString=query,
        ResultConfiguration={'OutputLocation': ATHENA_OUTPUT}
    )
    if database:
        kwargs['QueryExecutionContext'] = {'Database': database}

    qid = athena.start_query_execution(**kwargs)['QueryExecutionId']

    while True:
        status = athena.get_query_execution(QueryExecutionId=qid)
        state  = status['QueryExecution']['Status']['State']
        if state in ('SUCCEEDED', 'FAILED', 'CANCELLED'):
            break
        time.sleep(2)

    if state != 'SUCCEEDED':
        reason = status['QueryExecution']['Status'].get('StateChangeReason', '')
        raise Exception(f'Query {state}: {reason}')

    rows = athena.get_query_results(QueryExecutionId=qid)['ResultSet']['Rows']
    if len(rows) <= 1:
        return None
    cols = [c['VarCharValue'] for c in rows[0]['Data']]
    data = [[c.get('VarCharValue', '') for c in row['Data']] for row in rows[1:]]
    return pd.DataFrame(data, columns=cols)

print('✅ Cliente Athena configurado!')

✅ Cliente Athena configurado!

In [37]:
import boto3
import json
import pandas as pd
import os
import time

# Credenciais
AWS_ACCESS_KEY_ID     = 'AKIAYRIEFXUI4FUUPNOB'
AWS_SECRET_ACCESS_KEY = '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'
AWS_REGION            = 'us-east-1'

BUCKET_CSV      = 'catherine-mod41-csv'
BUCKET_PARQUET  = 'catherine-mod41-parquet'
IAM_USER_NAME   = 'mod41-analista'
IAM_POLICY_NAME = 'mod41-s3-athena-policy'

session = boto3.Session(
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
    region_name=AWS_REGION
)
s3     = session.client('s3')
iam    = session.client('iam')
athena = session.client('athena')

ATHENA_DB     = 'mod41_db'
ATHENA_TABLE  = 'crime'
ATHENA_OUTPUT = f's3://{BUCKET_PARQUET}/athena-results/'

print('✅ Tudo configurado!')

✅ Tudo configurado!

In [39]:
sts = session.client('sts')
print(sts.get_caller_identity())

{'UserId': 'AIDAYRIEFXUI2H5LTMNWK', 'Account': '586808671505', 'Arn': 'arn:aws:iam::586808671505:user/catherinep', 'ResponseMetadata': {'RequestId': '418255a4-9212-4dab-8335-6c67aa2b1bcb', 'HTTPStatusCode': 200, 'HTTPHeaders': {'x-amzn-requestid': '418255a4-9212-4dab-8335-6c67aa2b1bcb', 'x-amz-sts-extended-request-id': 'MTp1cy1lYXN0LTE6UzoxNzcxNjA2NjQyMDIzOlI6ekpqcjZMamU=', 'content-type': 'text/xml', 'content-length': '407', 'date': 'Fri, 20 Feb 2026 16:57:22 GMT'}, 'RetryAttempts': 0}}

In [40]:
import boto3
import json
import pandas as pd
import os
import time

AWS_ACCESS_KEY_ID     = 'AKIAYRIEFXUI4FUUPNOB'
AWS_SECRET_ACCESS_KEY = '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'
AWS_REGION            = 'sa-east-1'  # ← mudou para São Paulo

BUCKET_CSV      = 'catherine-mod41-csv'
BUCKET_PARQUET  = 'catherine-mod41-parquet'
IAM_USER_NAME   = 'mod41-analista'
IAM_POLICY_NAME = 'mod41-s3-athena-policy'

session = boto3.Session(
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
    region_name=AWS_REGION
)
s3     = session.client('s3')
iam    = session.client('iam')
athena = session.client('athena')

ATHENA_DB     = 'mod41_db'
ATHENA_TABLE  = 'crime'
ATHENA_OUTPUT = f's3://{BUCKET_PARQUET}/athena-results/'

print('✅ Configurado para região São Paulo (sa-east-1)!')

✅ Configurado para região São Paulo (sa-east-1)!

In [42]:
import boto3
import json
import pandas as pd
import os
import time

AWS_ACCESS_KEY_ID     = 'AKIAYRIEFXUI4FUUPNOB'
AWS_SECRET_ACCESS_KEY = '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'
AWS_REGION            = 'us-east-1'  # ← volta para us-east-1

BUCKET_CSV      = 'catherine-mod41-csv'
BUCKET_PARQUET  = 'catherine-mod41-parquet'
IAM_USER_NAME   = 'mod41-analista'
IAM_POLICY_NAME = 'mod41-s3-athena-policy'

session = boto3.Session(
    aws_access_key_id=AWS_ACCESS_KEY_ID,
    aws_secret_access_key=AWS_SECRET_ACCESS_KEY,
    region_name=AWS_REGION
)
s3     = session.client('s3')
iam    = session.client('iam')
athena = session.client('athena', region_name='us-east-1')

ATHENA_DB     = 'mod41_db'
ATHENA_TABLE  = 'crime'
ATHENA_OUTPUT = f's3://{BUCKET_PARQUET}/athena-results/'

print('✅ Configurado!')

✅ Configurado!

In [43]:
def run_athena_query(query, database=None):
    kwargs = dict(
        QueryString=query,
        ResultConfiguration={'OutputLocation': ATHENA_OUTPUT}
    )
    if database:
        kwargs['QueryExecutionContext'] = {'Database': database}

    qid = athena.start_query_execution(**kwargs)['QueryExecutionId']

    while True:
        status = athena.get_query_execution(QueryExecutionId=qid)
        state  = status['QueryExecution']['Status']['State']
        if state in ('SUCCEEDED', 'FAILED', 'CANCELLED'):
            break
        time.sleep(2)

    if state != 'SUCCEEDED':
        reason = status['QueryExecution']['Status'].get('StateChangeReason', '')
        raise Exception(f'Query {state}: {reason}')

    rows = athena.get_query_results(QueryExecutionId=qid)['ResultSet']['Rows']
    if len(rows) <= 1:
        return None
    cols = [c['VarCharValue'] for c in rows[0]['Data']]
    data = [[c.get('VarCharValue', '') for c in row['Data']] for row in rows[1:]]
    return pd.DataFrame(data, columns=cols)

run_athena_query(f'CREATE DATABASE IF NOT EXISTS {ATHENA_DB}')
print(f'✅ Banco de dados criado: {ATHENA_DB}')

✅ Banco de dados criado: mod41_db

In [44]:
run_athena_query(f'CREATE DATABASE IF NOT EXISTS {ATHENA_DB}')
print(f'✅ Banco de dados criado: {ATHENA_DB}')

✅ Banco de dados criado: mod41_db

In [ ]:
ddl = f"""
CREATE EXTERNAL TABLE IF NOT EXISTS {ATHENA_DB}.{ATHENA_TABLE} (
  id              BIGINT,
  case_number     STRING,
  date            STRING,
  block           STRING,
  iucr            STRING,
  primary_type    STRING,
  description     STRING,
  location_desc   STRING,
  arrest          STRING,
  domestic        STRING,
  beat            INT,
  district        INT,
  ward            INT,
  community_area  INT,
  fbi_code        STRING,
  x_coordinate    DOUBLE,
  y_coordinate    DOUBLE,
  year            INT,
  updated_on      STRING,
  latitude        DOUBLE,
  longitude       DOUBLE,
  location        STRING
)
PARTITIONED BY (reference_date STRING)
STORED AS PARQUET
LOCATION 's3://{BUCKET_PARQUET}/crime/'
TBLPROPERTIES ('parquet.compress'='SNAPPY')
"""

run_athena_query(ddl, database=ATHENA_DB)
print(f'✅ Tabela criada: {ATHENA_DB}.{ATHENA_TABLE}')

In [45]:
run_athena_query(f'MSCK REPAIR TABLE {ATHENA_DB}.{ATHENA_TABLE}', database=ATHENA_DB)
print('✅ Partições carregadas!')

✅ Partições carregadas!

In [47]:
run_athena_query(f'CREATE DATABASE IF NOT EXISTS {ATHENA_DB}')
print(f'✅ Banco de dados criado: {ATHENA_DB}')

✅ Banco de dados criado: mod41_db

In [48]:
ddl = f"""
CREATE EXTERNAL TABLE IF NOT EXISTS {ATHENA_DB}.{ATHENA_TABLE} (
  id              BIGINT,
  case_number     STRING,
  date            STRING,
  block           STRING,
  iucr            STRING,
  primary_type    STRING,
  description     STRING,
  location_desc   STRING,
  arrest          STRING,
  domestic        STRING,
  beat            INT,
  district        INT,
  ward            INT,
  community_area  INT,
  fbi_code        STRING,
  x_coordinate    DOUBLE,
  y_coordinate    DOUBLE,
  year            INT,
  updated_on      STRING,
  latitude        DOUBLE,
  longitude       DOUBLE,
  location        STRING
)
PARTITIONED BY (reference_date STRING)
STORED AS PARQUET
LOCATION 's3://{BUCKET_PARQUET}/crime/'
TBLPROPERTIES ('parquet.compress'='SNAPPY')
"""

run_athena_query(ddl, database=ATHENA_DB)
print(f'✅ Tabela criada: {ATHENA_DB}.{ATHENA_TABLE}')

✅ Tabela criada: mod41_db.crime

In [49]:
result = run_athena_query(f'SHOW PARTITIONS {ATHENA_DB}.{ATHENA_TABLE}', database=ATHENA_DB)
print('📊 Partições na tabela:')
result

📊 Partições na tabela:

In [50]:
run_athena_query(f'MSCK REPAIR TABLE {ATHENA_DB}.{ATHENA_TABLE}', database=ATHENA_DB)
print('✅ Partições carregadas!')

✅ Partições carregadas!

In [51]:
result = run_athena_query(f'SHOW PARTITIONS {ATHENA_DB}.{ATHENA_TABLE}', database=ATHENA_DB)
print('📊 Partições na tabela:')
result

📊 Partições na tabela:

    reference_date=2014-05
0   reference_date=2014-03
1   reference_date=2014-02
2   reference_date=2014-09
3   reference_date=2014-12
4   reference_date=2014-06
5   reference_date=2014-07
6   reference_date=2014-10
7   reference_date=2014-01
8   reference_date=2014-11
9   reference_date=2014-04
10  reference_date=2014-08

In [52]:
result = run_athena_query(
    f'SELECT COUNT(1) AS total FROM {ATHENA_DB}.{ATHENA_TABLE}',
    database=ATHENA_DB
)
print('📊 Total de registros:')
result

📊 Total de registros:

    total
0  548846

In [53]:
result = run_athena_query(
    f"""
    SELECT reference_date, COUNT(1) AS total
    FROM {ATHENA_DB}.{ATHENA_TABLE}
    GROUP BY reference_date
    ORDER BY reference_date
    """,
    database=ATHENA_DB
)
print('📊 Total de crimes por mês:')
result

📊 Total de crimes por mês:

   reference_date  total
0         2014-01  39706
1         2014-02  35942
2         2014-03  44214
3         2014-04  45654
4         2014-05  49604
5         2014-06  50682
6         2014-07  52938
7         2014-08  51594
8         2014-09  47612
9         2014-10  47810
10        2014-11  41334
11        2014-12  41756

In [54]:
result = run_athena_query(
    f"""
    SELECT primary_type, COUNT(1) AS total
    FROM {ATHENA_DB}.{ATHENA_TABLE}
    WHERE reference_date = '2014-01'
    GROUP BY primary_type
    ORDER BY total DESC
    LIMIT 10
    """,
    database=ATHENA_DB
)
print('📊 Top 10 crimes em Janeiro/2014:')
result

📊 Top 10 crimes em Janeiro/2014:

  primary_type  total
0               39706

In [56]:
result = run_athena_query(
    f"""
    SELECT primary_type, COUNT(1) AS total
    FROM {ATHENA_DB}.{ATHENA_TABLE}
    WHERE reference_date = '2014-01'
    GROUP BY primary_type
    ORDER BY total DESC
    LIMIT 10
    """,
    database=ATHENA_DB
)
print('📊 Top 10 crimes em Janeiro/2014:')
display(result)

📊 Top 10 crimes em Janeiro/2014:

  primary_type  total
0               39706

In [ ]:
# Consulta 2 — Total de registros
result = run_athena_query(
    f'SELECT COUNT(1) AS total FROM {ATHENA_DB}.{ATHENA_TABLE}',
    database=ATHENA_DB
)
print('📊 Total de registros:')
result

In [58]:
# Dropar a tabela antiga
run_athena_query(f'DROP TABLE IF EXISTS {ATHENA_DB}.{ATHENA_TABLE}', database=ATHENA_DB)
print('✅ Tabela antiga removida!')

✅ Tabela antiga removida!

In [59]:
# Recriar com tipos corretos
ddl = f"""
CREATE EXTERNAL TABLE IF NOT EXISTS {ATHENA_DB}.{ATHENA_TABLE} (
  id              BIGINT,
  case_number     STRING,
  block           STRING,
  iucr            STRING,
  primary_type    STRING,
  description     STRING,
  location_desc   STRING,
  arrest          STRING,
  domestic        STRING,
  beat            INT,
  district        INT,
  ward            INT,
  community_area  INT,
  fbi_code        STRING,
  x_coordinate    DOUBLE,
  y_coordinate    DOUBLE,
  year            INT,
  updated_on      STRING,
  latitude        DOUBLE,
  longitude       DOUBLE,
  location        STRING
)
PARTITIONED BY (reference_date STRING)
STORED AS PARQUET
LOCATION 's3://{BUCKET_PARQUET}/crime/'
TBLPROPERTIES ('parquet.compress'='SNAPPY')
"""

run_athena_query(ddl, database=ATHENA_DB)
print(f'✅ Tabela recriada!')

✅ Tabela recriada!

In [60]:
run_athena_query(f'MSCK REPAIR TABLE {ATHENA_DB}.{ATHENA_TABLE}', database=ATHENA_DB)
print('✅ Partições carregadas!')

✅ Partições carregadas!

In [62]:
# Dropar a tabela antiga
run_athena_query(f'DROP TABLE IF EXISTS {ATHENA_DB}.{ATHENA_TABLE}', database=ATHENA_DB)
print('✅ Tabela removida!')

✅ Tabela removida!

In [63]:
ddl = f"""
CREATE EXTERNAL TABLE IF NOT EXISTS {ATHENA_DB}.{ATHENA_TABLE} (
  id              BIGINT,
  case_number     STRING,
  block           STRING,
  iucr            STRING,
  primary_type    STRING,
  description     STRING,
  location_desc   STRING,
  arrest          BOOLEAN,
  domestic        BOOLEAN,
  beat            INT,
  district        INT,
  ward            INT,
  community_area  INT,
  fbi_code        STRING,
  x_coordinate    DOUBLE,
  y_coordinate    DOUBLE,
  year            INT,
  updated_on      STRING,
  latitude        DOUBLE,
  longitude       DOUBLE,
  location        STRING
)
PARTITIONED BY (reference_date STRING)
STORED AS PARQUET
LOCATION 's3://{BUCKET_PARQUET}/crime/'
TBLPROPERTIES ('parquet.compress'='SNAPPY')
"""

run_athena_query(ddl, database=ATHENA_DB)
print('✅ Tabela recriada!')

✅ Tabela recriada!

In [64]:
run_athena_query(f'MSCK REPAIR TABLE {ATHENA_DB}.{ATHENA_TABLE}', database=ATHENA_DB)
print('✅ Partições carregadas!')

✅ Partições carregadas!

In [65]:
result = run_athena_query(
    f"SELECT * FROM {ATHENA_DB}.{ATHENA_TABLE} LIMIT 3",
    database=ATHENA_DB
)
display(result)

Exception: Query FAILED: HIVE_BAD_DATA: Malformed Parquet file. Field ward's type DOUBLE in parquet file s3://catherine-mod41-parquet/crime/reference_date=2014-03/bed31217d0e74879acd2296b09aa0883-0.parquet is incompatible with type integer defined in table schema [s3://catherine-mod41-parquet/crime/reference_date=2014-03/bed31217d0e74879acd2296b09aa0883-0.parquet]

In [66]:
run_athena_query(f'DROP TABLE IF EXISTS {ATHENA_DB}.{ATHENA_TABLE}', database=ATHENA_DB)
print('✅ Tabela removida!')

✅ Tabela removida!

In [67]:
ddl = f"""
CREATE EXTERNAL TABLE IF NOT EXISTS {ATHENA_DB}.{ATHENA_TABLE} (
  id              DOUBLE,
  case_number     STRING,
  block           STRING,
  iucr            STRING,
  primary_type    STRING,
  description     STRING,
  location_desc   STRING,
  arrest          BOOLEAN,
  domestic        BOOLEAN,
  beat            DOUBLE,
  district        DOUBLE,
  ward            DOUBLE,
  community_area  DOUBLE,
  fbi_code        STRING,
  x_coordinate    DOUBLE,
  y_coordinate    DOUBLE,
  year            DOUBLE,
  updated_on      STRING,
  latitude        DOUBLE,
  longitude       DOUBLE,
  location        STRING
)
PARTITIONED BY (reference_date STRING)
STORED AS PARQUET
LOCATION 's3://{BUCKET_PARQUET}/crime/'
TBLPROPERTIES ('parquet.compress'='SNAPPY')
"""

run_athena_query(ddl, database=ATHENA_DB)
print('✅ Tabela recriada!')

✅ Tabela recriada!

In [68]:
run_athena_query(f'MSCK REPAIR TABLE {ATHENA_DB}.{ATHENA_TABLE}', database=ATHENA_DB)
print('✅ Partições carregadas!')

✅ Partições carregadas!

In [72]:
import pyarrow.parquet as pq
import os

# Ler um arquivo parquet para pegar o schema real
for root, dirs, files in os.walk('./crime_parquet'):
    for file in files:
        if file.endswith('.parquet'):
            schema = pq.read_schema(os.path.join(root, file))
            print(schema)
            break
    break

In [73]:
!pip install pyarrow -q

import pyarrow.parquet as pq
import os

for root, dirs, files in os.walk('./crime_parquet'):
    for file in files:
        if file.endswith('.parquet'):
            schema = pq.read_schema(os.path.join(root, file))
            print(schema)
            break
    break

In [74]:
import os

if os.path.exists('./crime_parquet'):
    print('✅ Pasta existe!')
    for root, dirs, files in os.walk('./crime_parquet'):
        for file in files:
            print(os.path.join(root, file))
            break
        break
else:
    print('❌ Pasta crime_parquet não existe — precisa recriar!')

✅ Pasta existe!

In [75]:
import os

for root, dirs, files in os.walk('./crime_parquet'):
    for file in files:
        print(os.path.join(root, file))
        break
    break

In [76]:
# Consulta 3 — Total por partição
result = run_athena_query(
    f"""
    SELECT reference_date, COUNT(1) AS total
    FROM {ATHENA_DB}.{ATHENA_TABLE}
    GROUP BY reference_date
    ORDER BY reference_date
    """,
    database=ATHENA_DB
)
print('📊 Total de crimes por mês:')
result

📊 Total de crimes por mês:

   reference_date  total
0         2014-01  39706
1         2014-02  35942
2         2014-03  44214
3         2014-04  45654
4         2014-05  49604
5         2014-06  50682
6         2014-07  52938
7         2014-08  51594
8         2014-09  47612
9         2014-10  47810
10        2014-11  41334
11        2014-12  41756

In [77]:
# Consulta 4 — Filtro por partição específica
result = run_athena_query(
    f"""
    SELECT primary_type, COUNT(1) AS total
    FROM {ATHENA_DB}.{ATHENA_TABLE}
    WHERE reference_date = '2014-01'
    GROUP BY primary_type
    ORDER BY total DESC
    LIMIT 10
    """,
    database=ATHENA_DB
)
print('📊 Top 10 crimes em Janeiro/2014:')
result

📊 Top 10 crimes em Janeiro/2014:

  primary_type  total
0               39706

In [79]:
result = run_athena_query(
    f"""
    SELECT
        primary_type,
        COUNT(1) AS total,
        SUM(CASE WHEN arrest = true THEN 1 ELSE 0 END) AS com_prisao,
        ROUND(100.0 * SUM(CASE WHEN arrest = true THEN 1 ELSE 0 END) / COUNT(1), 2) AS pct_prisao
    FROM {ATHENA_DB}.{ATHENA_TABLE}
    GROUP BY primary_type
    ORDER BY total DESC
    LIMIT 10
    """,
    database=ATHENA_DB
)
print('📊 Taxa de prisão por tipo de crime:')
result

📊 Taxa de prisão por tipo de crime:

  primary_type   total com_prisao pct_prisao
0               548846     158066       28.8

In [80]:
print('📊 Taxa de prisão por tipo de crime:')
display(result.reset_index(drop=True))

📊 Taxa de prisão por tipo de crime:

  primary_type   total com_prisao pct_prisao
0               548846     158066       28.8

---

## Conclusão

| Etapa | Descrição | Status |
|-------|-----------|--------|
| **1.1** | Download do `crime.csv` via `wget` | ✅ |
| **1.2** | Leitura em DataFrame + criação da coluna `reference_date` (`YYYY-MM`) | ✅ |
| **1.3** | Persistência em CSV e Parquet (Snappy + particionado por `reference_date`) | ✅ |
| **1.4** | Buckets S3, usuário IAM e policy criados via Boto3 + upload dos dados | ✅ |
| **1.5** | Banco de dados e tabela externa no Athena + 5 consultas SQL executadas | ✅ |